@model IEnumerable<POS.Repository.Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <h2>Category List Data</h2>
   <a asp-action="Add" class="btn btn-sm btn-primary">Add Category</a>
   <table class="table table-responsive">
       <thead>
           <tr>
               <th>ID</th>
               <th>Category Name</th>
               <th>Description</th>
               <th>Action</th>
           </tr>
       </thead>
       <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-success">View</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>

                    </td>
                </tr>
            }
        </tbody>
   </table>
</div>
